<div class="c-full-container bgContainer">
	<div class="c-full-container bgContainer">
		<div class="rightSection">
			<div class="sea">
				<span class="wave"></span>
				<span class="wave"></span>
				<span class="wave"></span>
			</div>

			<div class="form-wrap">
				<p class="mainTitle">
					{{ CONFIG.projectTitle }}
				</p>

				<nz-tabset>
					<nz-tab nzTitle="用户名登录">
						<form nz-form [formGroup]="form" role="form">
							<nz-form-item>
								<nz-form-control>
									<nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
										<input nz-input formControlName="username" placeholder="请输入用户名">
									</nz-input-group>
									<nz-form-explain *ngIf="form.get('username').dirty && form.get('username').errors"
									                 [@ngIfAnimate]>
										请输入手机号!
									</nz-form-explain>
								</nz-form-control>
							</nz-form-item>
							<nz-form-item>
								<nz-form-control>
									<nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
										<input type="password" nz-input formControlName="password" placeholder="请输入密码">
									</nz-input-group>
									<nz-form-explain *ngIf="form.get('password').dirty && form.get('password').errors"
									                 [@ngIfAnimate]>
										请输入密码!
									</nz-form-explain>
								</nz-form-control>
							</nz-form-item>
							<nz-form-item>
								<button nz-button (click)="login($event)" nzType="primary" nzSize="large" nzBlock>
									登录
								</button>
							</nz-form-item>
						</form>
					</nz-tab>
					<nz-tab nzTitle="二维码登录">
						<div nz-tooltip nzTitle="点击刷新二维码" class="qrWrapper c-flex-column-center" (click)="getQrCode()">
							<qrcode *ngIf="qrStr" [qrdata]="qrStr" [size]="180" [level]="'M'"></qrcode>
						</div>
					</nz-tab>
				</nz-tabset>

				<div class="footer">
					<div>
						Copyright
						<i class="anticon anticon-copyright"></i> {{ CONFIG.copyrightYear}}
						<a>{{ CONFIG.copyright }}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

