<div class = 'status-wrapper'>
	<div class="status_1 status-item">
		<span>1</span>
		<span>
			{{ count[1] }}
		</span>
	</div>
	<div class="status_2 status-item">
		<span>1</span>
		<span>
			{{ count[2] }}
		</span>
	</div>
	<div class="status_3 status-item">
		<span>1</span>
		<span>
			{{ count[3] }}
		</span>
	</div>
	<div class="status_4 status-item">
		<span>1</span>
		<span>
			{{ count[4] }}
		</span>
	</div>
	<div class="status_5 status-item">
		<span>1</span>
		<span>
			{{ count[5] }}
		</span>
	</div>
	<div class="status_6">
		<span>1</span>
		<span>
			{{ count[6] }}
		</span>
	</div>
	<div class="status_7">
		<span>1</span>
		<span>
			{{ count[7] }}
		</span>
	</div>
	<div class="status_8">
		<span>1</span>
		<span>
			{{ count[7] }}
		</span>
	</div>
</div>
