<div class="cash-container">
	<div class="left scrollWrap">
		<div class="classify-wrap">
			<div class="left-classify"
			     [ngClass]="{ 'classify-active': active_type === 'area' }"
			     (click)="switchType('area')"
			>
				area
			</div>
			<div class="left-classify"
			     [ngClass]="{ 'classify-active': active_type === 'type' }"
			     (click)="switchType('type')"
			>
				type
			</div>
		</div>
		<div class = 'classify-item-wrap'>
			<div
					class="left-classify"
					[ngClass]="{'classify-active': classify_active === ''}"
					(click)="switchClassifyType('')"
			>
				全部
			</div>
			<div
					class = 'left-classify'
					*ngFor="let item of classifyENUM"
					[ngClass]="{'classify-active': classify_active === item.value}"
					(click)="switchClassifyType(item.value)"
			>
				{{ item.key }}
			</div>
		</div>
	</div>

	<div class="middle scrollWrap">
		<div class = 'status-wrapper' *ngIf='count_total'>
			<status-count [count]="count_total"></status-count>
		</div>
		<div class="room-list-container">
			<div
					class="room-list-item"
					*ngFor="let item of list"
			>
				<div class="room-list-header">
					<div class="room-list-header-title">
						{{ item.name }}
					</div>
					<div class="room-list-header-count">
						<status-count [count]="item.status"></status-count>
					</div>
				</div>
				<div class="room-list-item-wrapper">
					<div
							class="room-item"
							*ngFor="let subItem of item.data"
							(click)="selectRoom(subItem)"
							[ngClass]="{'room-item-active': subItem.id === selectRoomItem.id }"
					>
						<room-item [data]="subItem"></room-item>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="right scrollWrap">
		<div style="margin-bottom: 16px;">
			<nz-input-group [nzAddOnBefore]="addOnBeforeTemplate" >
				<input [(ngModel)]="bookQueryModel.value" type="text" nz-input (keydown.enter)="searchBookList()"/>
			</nz-input-group>
			<ng-template #addOnBeforeTemplate>
				<nz-select [(ngModel)]="bookQueryModel.type">
					<nz-option [nzLabel]="'全部'" [nzValue]="''"></nz-option>
					<nz-option [nzLabel]="'名字'" [nzValue]="'name'"></nz-option>
					<nz-option [nzLabel]="'手机'" [nzValue]="'tel'"></nz-option>
				</nz-select>
			</ng-template>
		</div>
		<div class="book-list-wrapper" *ngFor="let item of bookList">
			<div class="book-item" (click)="book(item)">
				<div class="c-flex-row-start book-item-info">
					<div>
						姓名: <span>{{ item.name }}</span>
					</div>
					<div>
						电话: <span>{{ item.tel }}</span>
					</div>
				</div>
				<div class="c-flex-row-start book-item-info">
					<div>
						类型: <span>{{ roomType(item.typeId) }}</span>
					</div>
					<div>
						时间: <span>{{ item.reserveDate | datePie: 'm-d h:i'}}</span>
					</div>
				</div>
				<div class="c-flex-row-start ">
					备注: <span>{{ item.remark | nullPipe }}</span>
				</div>
			</div>
		</div>
	</div>
</div>

<nz-modal
	[(nzVisible)]="roomOperateModal"
	[nzTitle]="modalTitle"
	[nzContent]="modalContent"
	[nzFooter]="modalFooter"
	(nzOnCancel)="roomOperateModal = false"
	*ngIf="selectRoomItem.id"
	nzWidth="700px"
	class = 'common-modal'
>
	<ng-template #modalTitle>
		<div>
			<span>
				{{ selectRoomItem.name }}
			</span>
			-
			<span>
				{{ selectRoomItem.typeInfo.name }}
			</span>
			-
			<span>
				{{ selectRoomItem.areaInfo.name }}
			</span>
		</div>
	</ng-template>

	<ng-template #modalContent>
		<div class = 'section-info'>
			<span>桌台类型: </span>
			<span>{{ selectRoomItem.typeInfo.name }}</span>
		</div>
		<div class = 'section-info'>
			<span>z桌台状态: </span>
			<span>{{ selectRoomItem.typeInfo.name }}</span>
		</div>
	</ng-template>

	<ng-template #modalFooter>
		<button nz-button class = 'status_2' (click) = 'cancelBook($event)'
		        *ngIf="selectRoomItem.status === 2"
		>
			取消安排
		</button>
		<button nz-button class = 'status_4' (click) = 'open($event)'
		    *ngIf="selectRoomItem.status === 1 || selectRoomItem.status === 2 || selectRoomItem.status === 3"
		>
			开台
		</button>
		<button nz-button class = 'status_5' (click) = 'clean($event)'
		        *ngIf="selectRoomItem.status === 4"
		>
			置清理
		</button>
		<button nz-button nzType="default" (click)="roomOperateModal = false">取消</button>
	</ng-template>
</nz-modal>

<nz-modal
	[(nzVisible)]="bookModal"
	[nzTitle]="bookTitle"
	[nzContent]="bookContent"
	[nzFooter]="bookFooter"
	(nzOnCancel)="bookModal = false"
	*ngIf="selectBookInfo.id"
	nzWidth="450px"
	class = 'common-modal modal-empty'
>
	<ng-template #bookTitle>
		<div>
			<span>
				{{ selectBookInfo.name }}
			</span>
				-
			<span>
				{{ selectBookInfo.tel }}
			</span>
		</div>
	</ng-template>

	<ng-template #bookContent>
		<common-room-classify
			#commonRoomClassifyComponent type = 'type'
			(select)="roomSelect($event)"
		>

		</common-room-classify>
	</ng-template>

	<ng-template #bookFooter>
		<button nz-button nzType="primary" *ngIf="bookRoomSelect" (click)="makeBook($event)">确定</button>
		<button nz-button nzType="default" (click)="bookModal = false">关闭</button>
	</ng-template>
</nz-modal>
