.order-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
  align-content: center;
}
.left ,
.middle ,
.right {
  height: 100%;
  overflow-y: scroll;
}
.left{
  width: 150px;
  border-right: 1px solid #e8e8e8;
  box-sizing: border-box;
}
.middle{
  flex: 1;
}
.right{
  width: 250px;
}
