<div class="cash-container">
	<div class="left scrollWrap">
		<div class="classify-wrap">
			<div class="left-classify"
			     [ngClass]="{ 'classify-active': active_type === 'area' }"
			     (click)="switchType('area')"
			>
				area
			</div>
			<div class="left-classify"
			     [ngClass]="{ 'classify-active': active_type === 'type' }"
			     (click)="switchType('type')"
			>
				type
			</div>

			<div class = 'classify-item-wrap'>
				<div cl
				     left-classify></div>
			</div>
		</div>
	</div>
	<div class="middle scrollWrap">

	</div>
	<div class="right scrollWrap">

	</div>
</div>
